<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026959416702-rto4ft424sganammgvo6q4cqkot9kium.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026959416702-rto4ft424sganammgvo6q4cqkot9kium</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1026959416702-o1dcfn0025sjasdbqhmjr1ga9lhnqv0s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAJKGEbs3ErV80PSrINIBBj7CnJH9Yaik</string>
	<key>GCM_SENDER_ID</key>
	<string>1026959416702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quizada</string>
	<key>PROJECT_ID</key>
	<string>quiz-8294c</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-8294c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026959416702:ios:3b54ffe4893114d78aa72f</string>
	<key>DATABASE_URL</key>
	<string>https://quiz-8294c-default-rtdb.firebaseio.com</string>
</dict>
</plist>